<ion-app>
  <ion-menu side="start" contentId="m1">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          PairBnB
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/discover">
            <ion-icon color="primary" name="business" slot="start"></ion-icon>
            <ion-label>Discover Places</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="bookings">
            <ion-icon color="primary" name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Your Bookings</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="logOut()" button>
            <ion-icon color="primary" name="exit" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="m1"></ion-router-outlet>
</ion-app>
